p {
  font-family: Lato, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

a {
  color: #28B800;
  text-decoration: none;
}

a:hover, a:visited {
  color: #1c8000;
}

.subhead {
  font-family: Dosis, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24px;
}

h1 {
  font-family: Dosis, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 46px;
}
