body{
  font-family: 'Noto Sans', sans-serif;
  }

  nav ul li {
      display: block;
      border-top: 1px #79896d solid;
  }

  nav a {
    color: #f8ecc2;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
}

header {
    display: flex;
    flex-flow: row;
    background-color: #65a8a6;
    margin: 0;
    padding: 0 10px;
}

header h1 {
    order: 2;
    font-size: 2em;
}

nav ul {
    display: none;
}

h1, h3 {
  font-size: 2em;
  color: #70c1b3;
}

  p {
    color: #50514f;
  }

  .navigation {
    list-style: none;
    margin: 0;
    background: #247ba0;
    padding: 0;
    display: flex;
    /* flex-flow: column; */
    justify-content: space-between;
  }

  .navigation a {
    text-decoration: none;
    display: block;
    color: #ffe006;
    padding: 10px;
    text-align: center;
    border-bottom: none;
    font-family: 'Noto Serif'
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }

  .map-wrapper {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-wrapper iframe{
    left:0;
    top:0;
    height:50%;
    width:50%;
    position:absolute;
}

@media screen and (min-width: 450px) {
  nav ul {
      flex-flow: row;
      justify-content: space-between;
    }
}

  .footer {
    font-family: 'Noto Serif', bold;
  }

header {
  background: white;
}

footer {
  background: white;
}

article {
  background: white;
}

.aside-1 {
  background: #f25f5c;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

header, article, aside, footer {
  flex: 1 100%;
  padding: 10px;
}


.navigation a {
  border: none;
}

.navigation a:hover {
  background: #70c1b3;
}

  .pullquote {
    display: block;
    background: none;
    font-weight: bold;
    padding: 13px;
    /* margin: 0 13px 13px 0; */
    grid-area: c;
  }

.aside-1 {
  order: 1;
}

img {
  width: 100%;
  grid-area: a;
}

.joke {
  /* width: 100%; */
  margin: 10px 10px 10px 10px;
  grid-area: b;
}

aside {
  flex: 1 auto;
}

article {
  flex: 3 0px;
}

article {
  order: 2;
}

footer {
  order: 4;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  grid-template-areas:
  "a b"
  "a b";
}

@media (min-width:700px) {

  nav ul {
      display: flex;
  }

  nav ul li {
      border-top: none;
  }

  header h1 {
      order: 1;
  }

  nav {
      order: 2;
  }
}

@media (min-width:800px) {

nav ul{
    display:flex;
    flex-flow: row;
    justify-content: flex-end;
  }


.navigation{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }


}
